<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form action="/signup" method="post">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id=""><br>
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id=""><br>
        <label for="username">Email</label>
        <input type="email" name="username" id="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"><br>
        <label for="password">Password</label>
        <input type="password" name="password" class="password" id="" pattern=".{8,}"><br>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" class="password" id="" pattern=".{8,}"><br>
        <input type="radio" name="type" value="0" id="student">
        <label for="student">Student</label>
        <input type="radio" name="type" value="1" id="counsellor">
        <label for="counsellor">Counsellor</label>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>