<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Choose Category</h1>
    <form action="/start%20questionnaire" method="post">
        <% categories.forEach(function(category){ %>
        <input type="radio" name="chosenCategory" value="<%=category%>">
        <label><%=category%></label> 
        <% }) %>
        <button type="submit">Start</button>
    </form>
</body>
</html>