    <%- include('partials/header') %>
    <title>Request Success</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="u-container" >
        <h3 class="page-heading text-center"><%=counsellorName%> will send you response soon. Please keep check your email and stay up to date.</h3>
    </div>
    
<%- include('partials/footer') %>