    <%- include('partials/header') %>
    <title>Request Success</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="u-container" style="height: 78vh;">
        <h3 class="page-heading text-center"><%=counsellorName%> will send you response soon. Please keep check your email and stay uptodate.</h3>
    </div>
    
<%- include('partials/footer') %>